<div class="media position-relative mb-4 bg-light comment-show p-4">
  <div class="mr-4" data-toggle="tooltip" data-placement="top" title="<%= comment.created_at %>"><%= comment.username %></div>
  <div class="media-body">
    <div class="d-flex flex-row">
      <div class="flex-grow-1">
        <%= comment.content %>
      </div>
      <% unless defined? skip_op_button %>
        <div class="op_button_group">
          <%= link_to 'Delete', commentable_comment_path(comment.commentable, comment),
                      method: :delete,
                      class: "btn-sm btn-danger",
                      data: { confirm: t("comment.delete.confirm") } if can? :destroy, comment %>
        </div>
      <% end %>
    </div>
  </div>
</div>