<% if defined?(resource) && resource&.errors&.full_messages&.any? %>
  <% flash.alert = resource.errors.full_messages.to_sentence %>
<% end %>
<% flash.each do |key, value| %>
  <% if value.class == Array %>
    <div class="<%= flash_class(key) %>">
      <button type="button" class="btn btn-default" data-dismiss="alert">×</button>
      <% value.each do |message| %>
        <%= message %>
        </br>
      <% end %>
    </div>
  <% else %>
    <div class="<%= flash_class(key) %>">
      <button type="button" class="btn btn-default" data-dismiss="alert">×</button>
      <%= value %>
    </div>
  <% end %>
<% end %>