<li>
  <%= link_to "#{post.title}", post_path(post) %>
  <% if post.published %>
    <span class="badge badge-success">published</span>
    <i class="fas fa-eye mr-2"><%= post.visit_count %></i>
  <% else %>
    <span class="badge badge-secondary">draft</span>
  <% end %>
</li>