<%= simple_form_for @post, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">

    <%= f.input :title %>
  </div>
  <div class="form-group">

    <%= f.input :content, as: :string, required: true, input_html: { hidden: true, value: @post.content } %>
    <div class="editor-container">
      <div id="post-content-editor">
      </div>
    </div>
  </div>
  <%= f.submit "Post!", class:"btn btn-default" %>
  <%# if @post.persisted? %>
    <!--    edit-->
    <%# unless @post.published %>
      <%#= f.button :button, "Publish!", type: "submit", name: "post[published]", value: "true", class: "btn btn-primary" %>
    <%# end %>
    <%#= f.button :submit, "Save!", class: "btn btn-primary" %>
  <%# else %>
    <!--    create-->
    <%#= f.button :button, "Save!", type: "submit", name: "post[published]", value: "false", class: "btn btn-primary" %>
    <%#= f.button :button, "Post!", type: "submit", name: "post[published]", value: "true", class: "btn btn-primary" %>
  <%# end %>
<% end %>