<% cache post do %>
  <li>
    <div class="d-flex flex-row">
      <div class="flex-grow-1">
        <%= link_to "#{post.title}", post_path(post), class: "mr-2" %>
        <span class="mr-2">
          By: <%= post.username %>
        </span>
        <i class="fas fa-eye mr-2"><%= post.visit_count %></i>
      </div>
    </div>
  </li>
  <br/>
<% end %>