<%= render 'shared/page_title', page_title: "Block List" %>
<table class="table">
  <thead>
  <th scope="col">#</th>
  <th scope="col">
    Username
  </th>
  <th scope="col">
    Email
  </th>
  <th scope="col">
    Role
  </th>
  <th scope="col">
    Operator
  </th>
  </thead>
  <tbody>
  <%= render partial: "profile/users/user", collection: @users %>
  </tbody>
</table>
